<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item" [routerLink]="['/products', prod.pid]"
                [queryParams]="{canEdit : prod.canReturn}" *ngFor="let prod of productsInfo"
                [class.active]="prod.pid === slectedProductid">
                {{prod.pname}}
            </li>
        </ul>
    </div>
    <div class="col-md-8">
        <!-- <app-product></app-product> -->
        <hr>
        <!-- <button class="btn btn-primary"  (click)="onUserClick()">Go to Users</button>

        <a routerLink="/users"  class="btn btn-primary">Go to users using template</a> -->
    </div>
</div>

<!-- Routing Path 
    current Url >> http://localhost:4200/products
    baseUrl >> http://localhost:4200

    Absolute Path >> When we use '/' >> baseUrl/users  >>  http://localhost:4200/users

    Relative Path >> When we don't use "/"  >> currentUrl/users  >> http://localhost:4200/products/users

-->