<div class="card">
    <div class="card-header">
        <h3>{{productObject.pname}}</h3>
    </div>
    <div class="card-body">
        <p>
            The Product is <strong> {{productObject.pname}} </strong>
            and its status is <strong>{{productObject.pstatus}}</strong>
        </p>

        <!-- <button class="btn btn-primary" 
        [routerLink]="['/products', productObject.pid, 'edit']"
        >Edit Product</button> -->

        <button class="btn btn-primary" 
            (click)="goToEditProd()"
        >Edit Product</button>
    </div>
</div>